<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="Raja Ampat Boats" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                
                <!-- Daftar Wisata Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="toursDropdown" role="button" data-bs-toggle="dropdown">
                        Daftar Wisata
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="tour-waigeo.html">Wisata Pulau Waigeo</a></li>
                        <li><a class="dropdown-item" href="tour-misool.html">Wisata Pulau Misool</a></li>
                        <li><a class="dropdown-item" href="tour-salawati.html">Wisata Pulau Salawati</a></li>
                        <li><a class="dropdown-item" href="tour-batanta.html">Wisata Pulau Batanta</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="tour-packages.html">Paket Wisata Lengkap</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>
                
                <!-- Tentang Kami Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown">
                        Tentang Kami
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="about.html">Profil Perusahaan</a></li>
                        <li><a class="dropdown-item" href="team.html">Tim Kami</a></li>
                        <li><a class="dropdown-item" href="testimonials.html">Testimonial</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Kontak</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">FAQ</a>
                </li>
                
                <!-- Booking CTA Button -->
                <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
                    <a class="btn btn-primary" href="booking.html">Pesan Sekarang</a>
                </li>
            </ul>
        </div>
    </div>
</nav>